include ./UNIX/ddalpha.so
include ./UNIX/depth_wrapper.so
include ./UNIX/ACA_wrapper.so
recursive-include ./depth/Win64 *.dll
recursive-include ./depth/Win32 *.dll
recursive-include depth/Win64 *.dll
recursive-include depth/Win32 *.dll
recursive-include ./depth/UNIX *.so
recursive-include ./depth/src *.dll
recursive-include depth/src *.dll
